<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Details of vehicle</title>
</head>
<body>
    <h1>Details of vehicle</h1>
    <p>Brand: <span th:text="${vehicle.brand}"></span></p>
    <p>Model: <span th:text="${vehicle.model}"></span></p>
    <p>Color: <span th:text="${vehicle.color}"></span></p>
    <p>Year: <span th:text="${vehicle.year}"></span></p>
    <p>Type: <span th:text="${vehicle.type}"></span></p>
    <p>Engine: <span th:text="${vehicle.engine}"></span></p>
    <p>Price: <span th:text="${vehicke.price}"></span></p>
</body>
</html>